@import "vars.scss";

@mixin clearfix {
    &::after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: "";
        clear: both;
        height: 0;
    }
}

@mixin bfc-clearfix {
    &::after,
    &::before {
        display: table;
        content: "";
    }
    &::after {
        clear: both;
    }
}

@mixin b($blockname) {
    .#{$scope}-#{$blockname} {
        @content;
    }
}

@mixin be($blockname, $element, $isRoot: false) {
    @if $isRoot == true {
        @at-root .#{$scope}-#{$blockname}__#{$element} {
            @content;
        }
    } @else {
        .#{$scope}-#{$blockname}__#{$element} {
            @content;
        }
    }
}

@mixin bem($blockname, $element, $modifier) {
    &.#{$scope}-#{$blockname}__#{$element}--#{$modifier} {
        @content;
    }
}