body {
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "PingFang SC", Tahoma, "Hiragino Sans GB", "Heiti SC", Arial, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
}

a {
    text-decoration: none;
    color: #87b4e2;
}